# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases & SQLite
*.db
*.sqlite3

# IDE & Editor Settings
.vscode/
.idea/
*.swp
.DS_Store

# Android & Gradle Build Artifacts
.gradle/
app/build/
build/
*.keystore
hs_err_pid*.log
